/*
	提取组件的公共图标样式放在这里,有些图标做的不够好欢迎提建议~
    颜色基本使用currentColor继承来自color设置的颜色
	by https://github.com/derickweng
*/
.icon-search { 
    display: block;
    position: relative;
    width:1.5em;
    height:1.5em;
    cursor:pointer;
    &:before,&:after{
        content:'';
        display: block;
        position: absolute;
    }
    &:before{
        border-radius: 50%;
        border:0.2em solid currentColor;
        width:0.5em;
        height:0.5em;
       	top:0.5em;
    }
    &:after{
        width:0.5em;
        height:0.2em;
        background-color:currentColor;
        top:1.3em;
        left:0.6em;
        transform: rotate(45deg);
    }
}

.icon-list {
    position: relative;
    cursor:pointer;
    &,&:before,&:after{ 
        display: block;
        width:0.2em;
        height:0.2em;
        border-width:0 1em 0 0.2em;
        border-color:currentColor;
        border-style:solid;
    }
    &:before {
        top : -0.4em;
    }
    &:after {
        top: 0.4em;
    }
    &:before, &:after {
        content : '';
        position: absolute;
        left:-0.18em;
    }
}

.audio-next{
    position:relative;
    width:2em;
    height:2em;
    display: flex;
    align-items: center;
    cursor:pointer;
    .next-line:before,.next-line:after{
        content:'';
        display: block;
        position: absolute;
        width:1.1em;
    }
    .next-line,.next-line:before,.next-line:after{
        height:0.1em;
        background-color: currentColor;
    }
    .next-line{
        width:1em;
        transform: rotate(90deg);
    }
    .next-line:before{
        transform: rotate(-63deg);
        left: -0.3em;
        top: -0.5em;
    }
    .next-line:after{
        transform: rotate(63deg);
        left: 0.2em;
        top: -0.5em;
    }
    .line-right{
        position: absolute;
        top: 0.5em;
        left : 1.5em;
        height: 1em;
        width: 0.1em;
        background-color: currentColor;
    }
}
.icon-audio{
	 border-radius:50%;
     width:2em;
     height:2em;
     border:0.1em solid currentColor;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor:pointer;
	.audio-pause {
        width:0;
        height:0;
        border-width:0.4em 0 0.4em 0.6em;
        margin-left: 0.2em;
        border-style:solid;
        border-color:transparent transparent transparent currentColor;
    }
    .audio-playing {
        width: 0.2em;
        height: 1em;
        border-width: 0 0.2em 0 0.2em;
        border-style: solid;
        border-color: transparent currentColor transparent currentColor;
        margin:0 auto;
    }
}  

.icon-back {
    font-size:1rem;
    width:2.2em;
    height:0.2em;
    background-color:currentColor;
    display:inline-block;
    position:relative;
    &:before,&:after{
        display: block;
        content:'';
        width:1.6em;
        height:0.2em;
        position:absolute;
        background-color:currentColor;
        left:-0.2em;
    }
    &:before {
        top:-0.5em;
        transform:rotate(-40deg);
    }
    &:after {
        top:0.5em;
        transform:rotate(40deg);
    }
}
.icon-next {
    border: 0.1em solid currentColor;
    width: 1.5em;
    height:1.5em;
    position:relative;
    border-radius:50%;
   &:before{
     content:'';
     display:block;
      width:0;
      height:0;
      border-style:solid;
      border-color:transparent currentColor;
      border-width:0.3em 0 0.3em 0.5em;
      position:absolute;
      top:30%;
      left:35%;
    }
   &:after{
       content:'';
       display:block;
        width:0.5em;
        height:0.1em;
       background-color:currentColor;
       transform: rotate(90deg);
        position:absolute;
         left:50%;
        top:45%;
    }
}
.icon-pre {
   @extend .icon-next;
   transform:rotate(-180deg);
}